centerControl/centerControl.vcxproj.user
centerControl/icon.rc
centerControl/.vs/
centerControl/bin/centerControl.lib
centerControl/bin/centerControl.exp
centerControl/bin/centerControl.exe
centerControl/obj/
PS/
